{"_uuid": 1,
 "_action": "data/record",
 "_content": [{
 	"data": {
 		"schema": "http://healthdash.com.br/step_measurement/#1",
 		"measurement": {
			"steps": {{steps}}
 		},
 		"date": "{{date}}"
 	},
 	"user": "{{user}}"
 }]}