{"_uuid": 1,
 "_action": "data/record",
 "_content": [{
 	"data": {
 		"schema": "http://healthdash.com.br/blood_pressure_measurement/#1",
 		"measurement": {
 			"systolic": {{systolic}},
 			"diastolic": {{diastolic}}
 		},
 		"date": "{{date}}"
 	},
 	"user": "{{ user }}"
 }]}