{"_uuid": 1,
 "_action": "data/record",
 "_content": [{
 	"data": {
 		"schema": "http://healthdash.com.br/temperature_measurement/#1",
 		"measurement": {
			"temperature": {{ temperature }},
			"measurement_unit": "celcius"
 		},
 		"date": "{{date}}"
 	},
 	"user": "{{ user }}"
 }]}